@model HRPortal.UI.Models.ViewPoliciesVM

@{
    ViewBag.Title = "Manage Policies In Category";
}

<h2>Manage Policies In @Model.PolicyCategory.Category</h2>


<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Policy Name</td>
            <td>Policy Category</td>
            <td>Policy ID#</td>
            <td>Link</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Policies)
        {
            <tr>
                <td>@Html.DisplayFor(m => p.Title)</td>
                <td>@Html.DisplayFor(m => p.Category)</td>
                <td>@Html.DisplayFor(m => p.PolicyId)</td>
                <td>@Html.ActionLink("View Details", "ViewPolicyDetailsFromMP", "Policy", new {@p.PolicyId}, new {@class = "btn btn-primary"})
                @Html.ActionLink("Delete", "DeletePolicy", "Policy", new {@p.PolicyId, @p.Category}, new { @class = "btn btn-danger"})</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<br />
<div>
@Html.ActionLink("Return to Policy Index Page", "Index", "Policy", null, new { @class = "btn btn-warning" })
</div>