@model HRPortal.Models.Policy

@{
    ViewBag.Title = "View Policy Details";
}

<h2>View Policy Details</h2>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <td><b>Field</b></td>
            <td><b>Value</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Policy ID</td>
            <td>@Html.DisplayFor(m => m.PolicyId)</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@Html.DisplayFor(m => m.Title)</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>@Html.DisplayFor(m => m.Category)</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>@Html.DisplayFor(m => m.ContentText)</td>
        </tr>
        </tbody>
    </table>
</div>
<br/>

<div>
    @Html.ActionLink("Return to Policy Index Page", "Index", "Policy", null, new { @class = "btn btn-warning" })
</div>