@model HRPortal.Models.Resume

@{
    ViewBag.Title = "Confirmation of Your New Application";
}

<h2>Confirmation Page</h2>

<table class="table-striped">
    <tbody>
        <tr>
            <td>Prefix</td>
            <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Prefix)</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>@Html.DisplayFor(m => m.ApplicantContactInfo.FirstName)</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@Html.DisplayFor(m => m.ApplicantContactInfo.LastName)</td>
        </tr>
        <tr>
            <td>Suffix</td>
            <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Suffix)</td>
        </tr>
    <tr>
        <td>Email</td>
        <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Email)</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>@Html.DisplayFor(m => m.ApplicantContactInfo.PhoneNumber)</td>
    </tr>
    <tr>
        <td>Address Line 1</td>
        <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Address.AddressLine1)</td>
    </tr>
    <tr>
        <td>Address Line 2</td>
        <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Address.AddressLine2)</td>
    </tr>
    <tr>
        <td>City</td>
        <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Address.City)</td>
    </tr>
    <tr>
        <td>State</td>
        <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Address.State)</td>
    </tr>
    <tr>
        <td>Zip Code</td>
        <td>@Html.DisplayFor(m => m.ApplicantContactInfo.Address.Zipcode)</td>
    </tr>
    <tr>
        <td>Desired Position</td>
        <td>@Html.DisplayFor(m => m.Position.PositionName)</td>
    </tr>
        <tr>
            <td>Desired Salary</td>
            <td>@Html.DisplayFor(m => m.DesiredSalary)</td>
        </tr>

        @*<li>Prefix: @Html.DisplayFor(m => m.ApplicantContactInfo.Prefix)</li>
            <li>First Name: @Html.DisplayFor(m => m.ApplicantContactInfo.FirstName)</li>
            <li>Last Name: @Html.DisplayFor(m => m.ApplicantContactInfo.LastName)</li>
            <li>Suffix: @Html.DisplayFor(m => m.ApplicantContactInfo.Suffix)</li>
            <li>Email: @Html.DisplayFor(m => m.ApplicantContactInfo.Email)</li>
            <li>Phone Number: @Html.DisplayFor(m => m.ApplicantContactInfo.PhoneNumber)</li>
            <li>Address Line 1: @Html.DisplayFor(m => m.ApplicantContactInfo.Address.AddressLine1)</li>
            <li>Address Line 2: @Html.DisplayFor(m => m.ApplicantContactInfo.Address.AddressLine2)</li>
            <li>City: @Html.DisplayFor(m => m.ApplicantContactInfo.Address.City)</li>
            <li>State: @Html.DisplayFor(m => m.ApplicantContactInfo.Address.State)</li>
            <li>Zipcode*: @Html.DisplayFor(m => m.ApplicantContactInfo.Address.Zipcode)</li>
            <li>Desired Position: @Html.DisplayFor(m => m.Position.PositionId)</li>
            <li>Education Degree: @Html.DisplayFor(m => m.Education[0].Degree.DegreeAbbr)</li>
            <li>Desired Salary: @Html.DisplayFor(m => m.DesiredSalary)</li>
            <li>Date of Application: @Html.DisplayFor(m => m.AppDate)</li>*@

        @foreach (var edu in Model.Education)
        {
            <tr>
                <td>Degree</td>
                <td>@Html.DisplayFor(m => edu.Degree.DegreeAbbr)</td>
            </tr>
            <tr>
                <td>Institution</td>
                <td>@Html.DisplayFor(m => edu.Institution)</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@Html.DisplayFor(m => edu.Location.City)</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@Html.DisplayFor(m => edu.Location.State)</td>
            </tr>
            <tr>
                <td>Concentration</td>
                <td>@Html.DisplayFor(m => edu.Concentration)</td>
            </tr>
            <tr>
                <td>GPA</td>
                <td>@Html.DisplayFor(m => edu.GPA)</td>
            </tr>
            <tr>
                <td>Graduation Date</td>
                <td>@Html.DisplayFor(m => edu.GraduationDate)</td>
            </tr>
            <tr>
                <td>Enrollment Date</td>
                <td>@Html.DisplayFor(m => edu.StartDate)</td>
            </tr>
        }
        @foreach (var exp in Model.Experiences)
        {
            <tr>
                <td>Title</td>
                <td>@Html.DisplayFor(m => exp.Title)</td>
            </tr>
            <tr>
                <td>Company</td>
                <td>@Html.DisplayFor(m => exp.Company)</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@Html.DisplayFor(m => exp.Location.City)</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@Html.DisplayFor(m => exp.Location.State)</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>@Html.DisplayFor(m => exp.StartDate)</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>@Html.DisplayFor(m => exp.EndDate)</td>
            </tr>
            <tr>
                <td>Supervisor Name</td>
                <td>@Html.DisplayFor(m => exp.SupervisorName)</td>
            </tr>
            <tr>
                <td>Supervisor Email</td>
                <td>@Html.DisplayFor(m => exp.SupervisorEmail)</td>
            </tr>
            <tr>
                <td>Supervisor Phone Number</td>
                <td>@Html.DisplayFor(m => exp.SupervisorPhone)</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Html.DisplayFor(m => exp.Description)</td>
            </tr>
        }
        <tr>
            <td>Date of Application</td>
            <td>@Html.DisplayFor(m => m.AppDate)</td>
        </tr>

    </tbody>
</table>
<br/>
@Html.ActionLink("Return to Applicant Page", "Index", "Applicant", null, new { @class = "btn btn-danger" })