@model HRPortal.UI.Models.CreateAppVM

@{
    ViewBag.Title = "Create New Application";
}

<h2>Submit a New Application</h2>

@using (Html.BeginForm("CreateApp", "Applicant", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ApplicationInfo.AppId)
    @Html.ValidationSummary(true)

    /*Contact Info*/
    <p>Prefix: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.Prefix, new { htmlAttributes = new { placeholder = "Prefix" } })</p>
    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.FirstName)</p>
    <p>First Name*: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.FirstName)</p>
    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.LastName)</p>
    <p>Last Name*: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.LastName)</p>
    <p>Suffix: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.Suffix)</p>

    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.Email)</p>
    <p>Email*: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.Email)</p>

    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.PhoneNumber)</p>
    <p>Phone Number*: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.PhoneNumber)</p>

    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.AddressLine1)</p>
    <p>Address Line 1*: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.AddressLine1)</p>
    <p>Address Line 2: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.AddressLine2)</p>
    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.City)</p>
    <p>City*: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.City)</p>
    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.State)</p>
    <p>State*: @Html.DropDownListFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.State, Model.States)</p>
    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.Zipcode)</p>
    <p>Zipcode*: @Html.EditorFor(m => m.ApplicationInfo.ApplicantContactInfo.Address.Zipcode)</p>

    <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.Position.PositionName)</p>
    <p>Desired Position*: @Html.DropDownListFor(m => m.ApplicationInfo.Position.PositionName, Model.Positions)</p>

    <p>@Html.LabelFor(m => m.ApplicationInfo.Experiences)</p>
    <p>
        @for (var i = 0; i < 1; i++)
        {
        <p>Company: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].Company)</p>
        <p>Title: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].Title)</p>
            <p>City: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].Location.City)</p>
            <p>State: @Html.DropDownListFor(m => m.ApplicationInfo.Experiences[i].Location.State, Model.States)</p>
            <p>Start Date: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].StartDate)</p>
            <p>End Date: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].EndDate)</p>
            <p>Supervisor Name: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].SupervisorName)</p>
            <p>Supervisor Phone Number: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].SupervisorPhone)</p>
            <p>Supervisor Email: @Html.EditorFor(m => m.ApplicationInfo.Experiences[i].SupervisorEmail)</p>
        }</p>

        <p>@Html.LabelFor(m => m.ApplicationInfo.Education)</p>
        <p>
            @for (var i = 0; i < 1; i++)
            {
            <p>Degree Type: @Html.DropDownListFor(m => m.ApplicationInfo.Education[i].Degree.DegreeAbbr, Model.Degrees)</p>
            <p>Institution Name: @Html.EditorFor(m => m.ApplicationInfo.Education[i].Institution)</p>
            <p>City: @Html.EditorFor(m => m.ApplicationInfo.Education[i].Location.City)</p>
            <p>State: @Html.DropDownListFor(m => m.ApplicationInfo.Education[i].Location.State, Model.States)</p>
            <p>Start Date: @Html.EditorFor(m => m.ApplicationInfo.Education[i].StartDate)</p>
            <p>Graduation Date: @Html.EditorFor(m => m.ApplicationInfo.Education[i].GraduationDate)</p>
            <p>GPA: @Html.EditorFor(m => m.ApplicationInfo.Education[i].GPA)</p>
            <p>Concentration: @Html.EditorFor(m => m.ApplicationInfo.Education[i].Concentration)</p>
            }
            </p>

            <p>@Html.ValidationMessageFor(m => m.ApplicationInfo.DesiredSalary)</p>
            <p>Desired Salary*: @Html.EditorFor(m => m.ApplicationInfo.DesiredSalary)</p>

            <p>Date of Application: @Html.EditorFor(m => m.ApplicationInfo.AppDate)</p>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Reset</button>

}

