@model List<HRPortal.Models.Resume>

@{
    ViewBag.Title = "View All Resumes";
}

<h2>View All Resumes</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td>App ID</td>
        <td>Prefix</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Suffix</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Address Line 1</td>
        <td>Address Line 2</td>
        <td>City</td>
        <td>State</td>
        <td>ZipCode</td>
        <td>Desired Position</td>
        <td>Education Degree</td>
        <td>Desired Salary</td>
        <td>Date of Application</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => r.AppId)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Prefix)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.FirstName)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.LastName)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Suffix)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Email)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.PhoneNumber)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Address.AddressLine1)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Address.AddressLine2)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Address.City)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Address.State)</td>
                <td>@Html.DisplayFor(m => r.ApplicantContactInfo.Address.Zipcode)</td>
                <td>@Html.DisplayFor(m => r.Position.PositionName)</td>
                <td>@Html.DisplayFor(m => r.Education[0].Degree.DegreeAbbr)</td>
                <td>@Html.DisplayFor(m => r.DesiredSalary)</td>
                <td>@Html.DisplayFor(m => r.AppDate)</td>
                <td>@Html.ActionLink("Details", "Details", "Admin", new {@r.AppId}, new {@class = "btn btn-info"})</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Return to Admin Page", "Index", "Admin", null, new { @class = "btn btn-danger" })
